@import "tailwindcss";

@theme {
  --color-dark-indigo:#363062;
  --color-dusty-indigo: #4d4c7d;
}

html {
  height: 100%;
}

body {
  background-color: #f4f6ff;
  font-family: sans-serif;
  font-size: 16px;
  color: var(--color-dark-indigo)
}
